
.btn-group button {
    background-color: #131844;
    background-image: radial-gradient(#E4E5E7, #BDBEC0, #7D7E7F);
    color: #222D81; /* Blue text */
    font-size: 14px;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

html {
    height: 200px;
    background-color: #cccccc;
    background-image: radial-gradient(#222D81, #1B2465, #131844);
}

html {
  font-size: 14px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: georgia
}

p,h1,h2,h3,li{
  color: whitesmoke;
}



p.solid {border-style: solid;}